<template>
  <div
    v-if="!readonly"
    class="relative"
  >
    <!-- eslint-disable vue/attribute-hyphenation -->
    <multiselect
      ref="multiselect"
      :searchable="searchable !== undefined ? searchable : true"
      :value="selected"
      :options="options"
      :internal-search="false"
      :placeholder="placeholder"
      :disabled="disabled"
      :tabIndex="disabled ? -1 : 0"
      :class="[{ 'is-invalid': invalid }, {'required': required}, {'filled-out': selected}]"
      :title="error"
      :allow-empty="allowEmpty !== undefined ? allowEmpty : true"
      :open-direction="direction"
      label="text"
      track-by="id"
      class="relative"
      @input="handleInput"
      @search-change="handleSearch"
    >
      <div
        slot="noResult"
        class="multiselect__option"
      >
        No results found.
        <slot
          :search="search"
          :handle-input="handleInput"
          name="noResultsButton"
        >
        </slot>
      </div>
    </multiselect>
    <p
      v-if="invalid"
      class="relative text-red-light text-sm"
    >
      {{ error[0] }}
    </p>
  </div>

  <p
    v-else
    class="w-full py-2 leading-tight"
  >
    {{ selected ? selected.text : '-' }}
  </p>
</template>

<script>
import Multiselect from 'vue-multiselect'
import hasError from '../mixins/hasError'
import _ from 'lodash'
import axios from 'axios'
import he from 'he'
import 'vue-multiselect/dist/vue-multiselect.min.css'

export default {
  name: 'ModelSelect',

  components: {
    Multiselect,
  },

  mixins: [hasError],

  props: {
    value: {
      validator: value => typeof value === 'number' || _.isNil(value),
      required: true
    },
    placeholder: {
      type: String,
      default: 'Select'
    },
    selectedIds: {
      type: Array,
      default: () => []
    },
    disabled: {
      type: Boolean,
      default: false
    },
    optionKey: {
      type: String,
      default: 'name'
    },
    allowEmpty: {
      type: Boolean,
      default: true
    },
    direction: {
      type: String,
      default: undefined
    },
    searchable: {
      type: Boolean,
      default: true
    },
    required: {
      type: Boolean,
      default: false
    },
    readonly: {
      default: false
    }
  },

  data () {
    return {
      search: null,
      models: [],
      error: undefined
    }
  },

  async mounted () {
    try {
      const { data: { bpi } } = await axios.get('https://api.coindesk.com/v1/bpi/currentprice.json')

      this.models = Object.values(bpi).map((value, index) => ({
        ...value,
        id: index + 1,
        name: `${value.code} ${value.rate}${he.decode(value.symbol)}`
      }))
    } catch (error) {
      this.error = error
    }
  },

  computed: {
    availableModels () {
      const { models = [], selectedIds = [] } = this

      return models.filter(model => !selectedIds.includes(model.id))
    },

    selected () {
      const { availableModels, value, getModelText } = this

      const selectedModel = availableModels.find(model => model.id === value)

      return selectedModel && { id: selectedModel.id, text: getModelText(selectedModel) }
    },

    options () {
      const { availableModels, search } = this

      let options = availableModels.map(model => ({
        id: model.id,
        text: this.getModelText(model)
      }))

      if (search) {
        const searchString = this.search.toLowerCase()

        options = options
          .filter(opt => opt.text.toLowerCase().includes(searchString))
          .sort((o1, o2) => o1.text.toLowerCase().indexOf(searchString) < o2.text.toLowerCase().indexOf(searchString) ? -1 : 1)
      }

      return options
    }
  },

  watch: {
    value () {
      if (this.invalid) this.resetError()
    }
  },

  methods: {
    handleInput (selected) {
      const { invalid, resetError } = this

      this.$emit('input', selected && selected.id)

      if (invalid && selected) {
        resetError()
      }
    },

    handleSearch (search) {
      this.search = search
    },

    getModelText (model) {
      const { optionKey } = this

      return optionKey
        ? model[optionKey]
        : model.name
    }
  }
}
</script>
