<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <h1>Vue composition API demo</h1>

    <ModelSelect v-model="value" />
  </div>
</template>

<script>
import ModelSelect from './components/ModelSelect.vue'

export default {
  name: 'app',

  components: {
    ModelSelect
  },

  data () {
    return {
      value: undefined
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
